.idea
.DS_Store
/hp/eyes_on_the_road/

datasets/dmd/Raw/

datasets/dmd/Labels/

hp/cnn_model/

datasets/dmd/labels_split/

datasets/dmd/binary_labels/

datasets/dmd/binary_labels_split/
/models/cnn/cnn_simple/
